.table-style {
    border-collapse: collapse;
    width: 100%;
}

.table-header-style {
    border: 1px solid #ddd;
    padding: 8px;
}

.half-width-div {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tab-container {
    display: flex;
}