.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    width: 150px;
    padding: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-name {
    margin-top: 8px;
    font-size: 1.1em;
    font-weight: 500;
}

.leagues {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tab-container {
    display: flex;
}